
        html{
            background-color: black;
        }
 #navbar{
  background-color: #4E4E50;
  position:static;
  top: 0;
  width: auto;
  height: 10%;
  padding-top: 10px;
  text-align:start;
  
}
nav ul{
  list-style: none;
  text-align: right;
  }

nav li a{
  text-decoration: none;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 2px;
  }

li a:visited{
  color: white;
}
nav ul li {
  display: inline-block;
}
#welcome p{
color: #84CEEB;
    font-size: 42px;
    font-weight: auto;
    font-style:Bold;
    text-align: center;
}

h1{
    text-align: center;
    color: white;
    font-size: 44px;
    
}
h2{
    color: #C3073F;
    text-align: center;
    font-size:40px;
}
.box{
    margin: auto;
    display: block;
    width: 280px;
  height: 280px;
  padding: 0px;
  border: 3px solid #254E58;
  border-top-left-radius: 70%;
}
.logo {
  display:block;
    margin-top: -16%;
    margin-left: 70%;
    margin-right: 120px;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 50%;
}
.eye{
    margin-top: -18%;
    margin-left: 70px;
   display: block;
   height: 220px;
   width: 220px;
}

#contact{
  background-color: gray;
  padding: 35px 0 20px 0;
  width:100%;
}
.contact{
  display: inline-block;
  padding: auto;
  margin:  auto;
}
.contact li {
  display:inline-block;
  list-style:square;
  float:none;
  }
#contact p{
  font-size: 1.7em;
  font-weight: 700;
}
#contact li a{
  text-decoration: none;
  display: inline-block;
  color: black;
  margin-right: 19px;
  margin-left: auto;
  font-size: 1.7em;
  letter-spacing: 20px;
  }

#contact li a:visited{
  color: white;
  
}


.Services-p{
    color: black;
    font-size: 22px;
    margin: auto;
}


@media only screen and (max-width: 815px) {
    /* For mobile phones: */
.box{
  display: inline-block;
  float: right;
  width: 95%;
  margin: 2.5%;}

  #projects{
    height: 1000px;
  }}
@media only screen and (max-width: 367px){}